.burger_btn
    display: none
    align-items: center
    position: absolute
    top: 4.5rem
    right: 5.3rem
    width: 30px
    height: 30px
    cursor: pointer
    z-index: 1
    span, span::before, span::after
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $color-primary
        transition-duration: .25s
    span::before
        content: ''
        top: -10px
    span::after
        content: ''
        top: 10px

#burger_menu
    display: none

#burger_menu:checked ~ .burger_btn > span
    transform: rotate(90deg)

#burger_menu:checked ~ .burger_btn
    z-index: 3

#burger_menu:checked ~ .header_menu
    overflow: auto

.body_blackout
    position: fixed
    width: 100vw
    height: 100vh
    right: -100%
    top: 0px
    background: rgba(41, 41, 41, 0.6)
    overflow: hidden
    display: none
    z-index: 1
    cursor: pointer

.overflow_hidden
    overflow: hidden
    top: 0

.hidden
    display: none
