@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial_Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.burger_btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 4.5rem;
  right: 5.3rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.burger_btn span, .burger_btn span::before, .burger_btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.burger_btn span::before {
  content: '';
  top: -10px;
}

.burger_btn span::after {
  content: '';
  top: 10px;
}

#burger_menu {
  display: none;
}

#burger_menu:checked ~ .burger_btn > span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#burger_menu:checked ~ .burger_btn {
  z-index: 3;
}

#burger_menu:checked ~ .header_menu {
  overflow: auto;
}

.body_blackout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: -100%;
  top: 0px;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.overflow_hidden {
  overflow: hidden;
  top: 0;
}

.hidden {
  display: none;
}

@-webkit-keyframes move_right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}

@keyframes move_right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}

.transition_right {
  -webkit-animation-name: move_right;
          animation-name: move_right;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@-webkit-keyframes move_left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@keyframes move_left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

.transition_left {
  -webkit-animation-name: move_left;
          animation-name: move_left;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.modal_window {
  position: fixed;
  width: 90rem;
  left: 50%;
  top: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.close_buton {
  position: absolute;
  right: -4.2rem;
  top: -5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.body_blackout_modal:hover + .modal_window > .close_buton {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.modal_pet_photo {
  width: auto;
  height: 50rem;
  border-radius: 9px;
}

.modal_content {
  width: 35.1rem;
  margin-left: 3rem;
  margin-top: 5rem;
  padding-bottom: 1rem;
}

.modal_content > * {
  color: #000000;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.modal_subtitle {
  margin-top: 1rem;
}

.modal_description {
  margin-top: 4rem;
  width: 35rem;
}

.modal_list {
  margin-top: 4rem;
  position: relative;
}

.modal_list li::before {
  position: absolute;
  left: 0;
  content: "\2022";
  color: #F1CDB3;
  display: inline-block;
  width: 1.4rem;
}

.modal_list_item {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 1rem;
  padding-left: 1.4rem;
}

.heading_bold {
  font-weight: 700;
}

.body_blackout_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  cursor: pointer;
  z-index: 1;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
}

@media (max-width: 1279px) {
  .modal_window {
    width: 63rem;
  }
  .modal_pet_photo {
    height: 35rem;
  }
  .modal_content {
    width: 26rem;
    margin-left: 1.1rem;
    margin-top: 1rem;
  }
  .modal_description {
    margin-top: 2rem;
    width: 26rem;
  }
  .modal_list {
    margin-top: 2rem;
  }
  .modal_list_item {
    margin-top: 0.5rem;
  }
}

@media (max-width: 767px) {
  .modal_window {
    width: 24rem;
    padding: 1rem;
  }
  .modal_pet_photo {
    display: none;
  }
  .modal_content {
    width: 100%;
    margin: 0;
  }
  .modal_title {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal_name {
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #000000;
  }
  .modal_subtitle {
    margin-top: 1rem;
    font-size: 2rem;
    color: #000000;
  }
  .modal_description {
    margin-top: 2rem;
    width: 22rem;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  .modal_list {
    margin-top: 2.4rem;
  }
  .modal_list_item {
    margin-top: .5rem;
  }
}

@-webkit-keyframes modal_animation {
  from {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes modal_animation {
  from {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #4C4C4C;
}

li {
  list-style-type: none;
}

h2 {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #ffffff;
}

h3 {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: 'Georgia',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.button {
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10rem;
  color: #292929;
  letter-spacing: 0.06em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 130%;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 15px 43px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.button_primary {
  padding: 1.3rem 4.3rem;
  background: #F1CDB3;
  border-radius: 10rem;
}

.button_secondary {
  padding: 1.3rem 4.3rem;
  background-color: transparent;
}

button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 6rem;
}

.header_logo {
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.logo_title {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo_subtitle {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 1rem;
}

.header_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 44.3rem;
}

.first_screen {
  padding-top: 18rem;
  vertical-align: middle;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header_menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu_element {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.3rem;
  color: #CDCDCD;
}

.header_menu_element:hover {
  color: #FAFAFA;
}

.start_screen_text {
  margin-top: 16.4rem;
}

.start_screen_text button {
  margin-top: 4.0rem;
}

.active_link {
  color: #FAFAFA;
  border-bottom: 3px solid;
  border-color: #F1CDB3;
  padding-bottom: 0.3rem;
}

.start_heading {
  width: 31rem;
}

.start_subheading {
  margin-top: 4.2rem;
  width: 46rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
}

.about_screen {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.about_screen .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_screen img {
  margin-right: 12rem;
}

.about_text {
  max-width: 43rem;
}

.about_title {
  color: #545454;
}

.about_subtitle p {
  margin-top: 2.5rem;
}

.pets_screen {
  background: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.pets_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.pets_title {
  text-align: center;
}

.slide_arrow {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pets_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets_slider_inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 9rem;
          column-gap: 9rem;
  margin: 0 1rem;
}

.slider_container {
  overflow: hidden;
  width: 101rem;
}

.pets_slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -100%;
}

.slider_card {
  width: 27rem;
  height: 43.5rem;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin: 1rem 0;
}

.slider_card h4 {
  margin-top: 3rem;
}

.slider_card button {
  margin-top: 3rem;
}

.slider_card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.slider_card:hover .button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.left_arrow, .right_arrow, .close_buton {
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10rem;
  cursor: pointer;
  background-color: transparent;
}

.right_arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.left_arrow:hover, .right_arrow:hover, .close_buton:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets_button {
  margin-top: 5rem;
}

.pets_help {
  padding-top: 8rem;
}

.pets_help .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help_header {
  text-align: center;
}

.help_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10rem;
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
}

.help_card {
  text-align: center;
  margin-top: 6rem;
}

.help_card_title {
  margin-top: 2.6rem;
}

.donation_screen {
  background: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10.1rem;
}

.donation_screen .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation_screen img {
  max-width: 50.5rem;
  max-height: 26.1rem;
}

.donation_text {
  max-width: 38rem;
}

.donation_subtitle {
  margin-top: 2rem;
}

.donation_creditcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  max-width: 34.9rem;
  height: 4.3rem;
  background: #F1CDB3;
  border-radius: 9px;
}

.donation_creditcard img {
  height: 2.3rem;
}

.creditcard_number {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 2.0rem;
  text-align: center;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation_legal {
  max-width: 38rem;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 2rem;
  color: #B2B2B2;
}

footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  padding-top: 4rem;
}

.footer_col {
  margin-top: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 23.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list_title {
  color: #ffffff;
  max-width: 27.9rem;
}

.footer_list_text {
  width: 26rem;
  margin-left: 2rem;
  color: #F1CDB3;
}

.footer_puppy {
  margin-left: 4rem;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 3rem;
  }
  .container {
    padding: 0 3rem;
  }
  .first_screen {
    padding-top: 15rem;
  }
  .first_screen .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first_screen .container img {
    height: 593px;
    margin-left: calc(50% - 569px/2 + 70px);
    margin-top: 10rem;
  }
  .start_screen_text {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start_screen_text button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 4.2rem;
  }
  .about_screen .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_screen img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 30rem;
    height: 40.8rem;
    margin: 0;
    margin: 8rem 0 0 0;
  }
  .pets_slider_inner {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .slider_container {
    width: 60rem;
  }
  .slider_card:nth-child(3) {
    display: none;
  }
  .help_list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 6rem;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    row-gap: 5.7rem;
    padding: 0 3.9rem;
  }
  .help_card {
    width: 17rem;
    margin: 0;
  }
  .donation_screen {
    padding-top: 8.2rem;
  }
  .donation_screen .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donation_dog {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 6rem;
  }
  footer {
    padding-top: 1.3rem;
  }
  .footer_content .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 6rem;
  }
  .footer_puppy {
    margin: 6.4rem 0 0 0;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: normal;
  }
  .container {
    padding: 0 1rem;
  }
  .first_screen .container img {
    width: 26rem;
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 10.5rem;
  }
  .start_screen_text {
    width: 100%;
  }
  .start_screen_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start_heading {
    width: 26rem;
  }
  .start_subheading {
    width: 30rem;
    text-align: center;
  }
  .header_menu {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 32rem;
    background: #292929;
    top: 0;
    right: -100%;
    z-index: 2;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -ms-touch-action: none;
        touch-action: none;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .header_menu .header_menu_list {
    margin-top: 249px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 32.7rem;
  }
  .header_menu .header_menu_list a {
    font-size: 3.2rem;
    line-height: 5.1rem;
  }
  .burger_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #burger_menu:checked ~ .header_menu {
    visibility: visible;
    right: 0;
  }
  #burger_menu:checked ~ .header_logo {
    position: fixed;
    top: 3.1rem;
    right: 12.4rem;
    z-index: 3;
  }
  #burger_menu:checked ~ .body_blackout {
    right: 0px;
    display: block;
    overflow: hidden;
  }
  .active_link {
    padding-bottom: 0.8rem;
  }
  .about_screen {
    padding-top: 4.2rem;
    padding-bottom: 4.24rem;
  }
  .about_screen .container img {
    width: 26rem;
    height: auto;
    margin-top: 3.9rem;
  }
  .about_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.5rem;
    text-align: justify;
  }
  .about_title {
    text-align: center;
  }
  .pets_screen {
    padding-top: 4rem;
    padding-bottom: 4.3rem;
  }
  .slider_card:nth-child(2n) {
    display: none;
  }
  .pets_slider {
    margin-top: 3.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 31rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets_slider_inner, .slider_container {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .slider_container {
    width: 29rem;
  }
  .slide_arrow {
    margin: 1rem 4rem 0;
  }
  .pets_button {
    margin-top: 4rem;
  }
  .pets_help {
    padding-top: 4rem;
  }
  .help_list {
    row-gap: 3rem;
    margin-top: 4.4rem;
    margin-bottom: 4.2rem;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    padding: 0 4.9px;
  }
  .help_card {
    width: 13rem;
  }
  .help_card img {
    height: 5rem;
    width: auto;
  }
  .help_card .help_card_title {
    margin-top: 1.8rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .donation_screen {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .donation_text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation_title {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .donation_creditcard {
    width: 28.1rem;
  }
  .creditcard_number {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .donation_legal {
    text-align: justify;
    padding: 0 1rem;
  }
  .donation_dog {
    width: 26rem;
    height: auto;
    margin-top: 4.2rem;
  }
  .footer_col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20.9rem;
  }
  .footer_content .container {
    padding: inherit;
    row-gap: 2.2rem;
  }
  .footer_phone_mail .footer_list_text {
    width: 100%;
  }
  .footer_location {
    height: 22.2rem;
  }
  .footer_puppy {
    width: 26rem;
    height: auto;
    margin-top: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */